
.vs/WaveNoiseLib/v15/.suo
.vs/WaveNoiseLib/v15/Server/sqlite3/db.lock
.vs/WaveNoiseLib/v15/Server/sqlite3/storage.ide
.vs/WaveNoiseLib/v15/Server/sqlite3/storage.ide-shm
.vs/WaveNoiseLib/v15/Server/sqlite3/storage.ide-wal
*.cache
